*{ margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif;  color: #333; }
a{ text-decoration: none; color: inherit; }
li{ list-style: none; }

button{ background: transparent; border: 0; outline: none; cursor: pointer; }
.fa{ cursor: pointer; }

.flex{ display: flex; }


