*{ margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif; color:#333; }
li{ list-style: none; }
a{ text-decoration: none; }

header {width: 100%; height: 50px;}
.menu { display: flex; }
.menu li{ padding: 10px 15px;  white-space: nowrap;}
.menu li li{ padding: 10px 0; }
.menu .sub1 li{ position: relative; width: 100%;}
.menu .sub1{ transform: rotateX(90deg); transition: 0.5s; transform-origin: 0 0; }
.menu .sub1 .sub2{ position: absolute; left: 100%; top: 0;  transform: rotateY(90deg); transition: 0.5s; transform-origin: 0 0;   width: 100%;}

.menu>li:hover .sub1{ transform: rotateX(0deg);  }
.menu .sub1 li:hover .sub2{ transform: rotateY(0); }

main{ width: 100%; height: 700px;  overflow: hidden;}
main  .slider{ width: 400%; height: 100%; display: flex;  animation: slide 11.5s infinite; }
main  .slider>div{ flex:1; }
main  .slider>div:nth-child(1){ background: lightcoral; }
main  .slider>div:nth-child(2){ background: lightblue; }
main  .slider>div:nth-child(3){ background: lightgreen; }
main  .slider>div:nth-child(4){ background: lightcoral; }

@keyframes slide{
	0%{ margin-left: 0; }
	30%{ margin-left: 0; }
	33.333%{ margin-left: -100%; }
	63%{ margin-left: -100%; }
	66.666%{ margin-left: -200%; }
	96% { margin-left: -200%; }
	99.999%{ margin-left: -300%; }
}