*{margin: 0; padding: 0; box-sizing: border-box;}
ul,li{list-style: none;}
a{text-decoration: none; color: inherit;}

/* header */
.contains{width: 100%; height: 100px; display: flex; border-bottom: 1px solid #059c05;}
.logo{width: 100px; height: 100px; text-align: center; line-height: 60px;}
.meun{width: 100%; display: flex; line-height: 30px; margin: 35px;} 
.main-meun{width: 90%;}
.meun .two_meun{width: 100%; transform: rotateX(90deg); transition: 0.5s; transform-origin: 0 0; }
.three-meun{width: 100%; position: absolute; top: 0; left: 100%; transform: rotateY(90deg); transition: 0.5s;}
.three-meun li{margin: 0; text-align: left;}
.main-meun:hover .two_meun{transform: rotateX(0deg);}
.two_meun li:hover .three-meun{transform: rotateY(0deg);}

.login_lange{width: 10%; display: flex; justify-content: space-between;}
.login li{ width:50%; transform-origin: 0,0; transform: rotateX(90deg); transition: 0.5s;}
.lange li{width: 50%; transform-origin: 0,0; transform: rotateX(90deg); transition: 0.5s;}

.login:hover .login li{transform: rotateX(0deg);}
.lange_span:hover .lange li{transform: rotateX(0deg);}
