*{margin: 0; padding: 0;}
section{width: 1000px; height: 400px; overflow: hidden;}
.silder{width: 400%; height: 100%; display: flex; 
    animation: silde 9s infinite linear;}

.silder div:nth-child(1).silder div:nth-child(4){flex: 1; background: red;}
.silder div:nth-child(2){flex: 1; background: blue;}
.silder div:nth-child(3){flex: 1; background: violet;}
@keyframes silde{
    00%{margin-left: 0;}
    30%{margin-left: 0;}
    33.33%{margin-left: -100%;}
    63%{margin-left: -100%;}
    66.66%{margin-left: -200%;}
    96%{margin-left: -200%;}
    100%{margin-left: -300%;}
}