*{margin: 0; padding: 0;}
.display-none{display: none;}

input[name="radio"]{display: none;}

label{width: 100px; height: 50px; display: inline-block; border: 1px solid #BF8E97; text-align: center; line-height: 40px;}

.content,.list_content{display: none;}

#elbum:checked~.content ,
#list:checked~.list_content {display: block;}
ul,li,a{list-style: none; text-decoration: none;}

header{width: 100%; height: 200px; }

section{width: 100%; height: 1000px; }

ul{ width: 100%; height: 1200px; display: flex; flex-wrap: wrap;}

ul>li{ flex: 1; }

ul img{width: 600px; height: 400px; flex: auto; border: 1px solid #BF8E97;}

table{width: 100%;  border-collapse:collapse; text-align: center;}

table td{border: 1px solid #BF8E97; width: 10px;}
